$bg-color: #fafafa;
$theme-dark: #4f3972;
$theme-color: #684a93;
$dark-gray: #999;
$essential-color: #ff9409;
$font-black-dark: rgba(0, 0, 0, 0.87);
$font-black-light: rgba(0, 0, 0, 0.54);
$transparent-white: rgba(255, 255, 255, 0.9);
